/* TODO: Consider building some of these on the fly. */
/*
* {
	box-sizing: border-box;
}
*/
body {
  margin: 0;
  padding: 0;
  height: 100%; }

h1 {
  color: white; }
  h1.accented {
    text-shadow: 0 0 1em #000000;
    font: Tahoma; }

button {
  width: 200px;
  height: 50px;
  margin-top: 40px;
  color: black;
  background-color: #aadcff;
  border-color: #648296;
  border-radius: 10px;
  font: Tahoma; }

textarea {
  resize: none;
  /*overflow: hidden;*/
  font: 8pt Tahoma;
  background-color: rgba(1, 1, 1, 0.5);
  color: white; }

div {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

div.fadeIn {
  opacity: 1; }

div.fadeOut {
  opacity: 0; }

div.fadeIn, div.fadeOut {
  transition: opacity 1s;
  -moz-transition: opacity 1s;
  -webkit-transition: opacity 1s;
  -o-transition: opacity 1s; }

div.centered {
  position: absolute;
  top: 50%;
  left: 50%; }

div.fullscreen {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

textarea#input {
  overflow: hidden; }

textarea#console {
  transition: height 1s, opacity 1s;
  -moz-transition: height 1s, opacity 1s;
  -webkit-transition: height 1s, opacity 1s;
  -o-transition: height 1s, opacity 1s; }

textarea#console.minSize {
  height: 0em;
  opacity: 0;
  overflow: hidden; }

textarea#console.maxSize {
  height: 20em;
  opacity: 1;
  overflow: auto; }

div#game {
  position: relative;
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: black; }

div#mainMenu {
  color: white;
  /*background-color: rgb(220, 220, 255);*/
  -webkit-box-shadow: inset 0px 0px 100px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: inset 0px 0px 100px rgba(0, 0, 0, 0.4);
  box-shadow: inset 0px 0px 100px rgba(0, 0, 0, 0.4);
  background: #80ccff;
  background: -moz-linear-gradient(top, #80ccff 0%, #80ccff 75%, white 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, #80ccff), color-stop(75%, #80ccff), color-stop(100%, white));
  background: -webkit-linear-gradient(top, #80ccff 0%, #80ccff 75%, white 100%);
  background: -o-linear-gradient(top, #80ccff 0%, #80ccff 75%, white 100%);
  background: -ms-linear-gradient(top, #80ccff 0%, #80ccff 75%, white 100%);
  background: linear-gradient(to bottom, #80ccff 0%, #80ccff 75%, white 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80ccff', endColorstr='#ffffff', GradientType=0 ); }

div#loadingScreen {
  background-color: black;
  cursor: wait; }
  div#loadingScreen div#loadingText {
    color: white;
    font-size: 2em;
    font-weight: bold;
    text-align: center; }

div#instructions {
  position: absolute;
  top: 50%;
  left: 50%;
  font: 12pt Tahoma;
  color: white;
  text-shadow: -1px 0 #008888, 0 1px #008888, 1px 0 #008888, 0 -1px #008888;
  pointer-events: none; }

div#blocker {
  background-color: rgba(0, 0, 0, 0.5); }

div#reticle {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2px;
  height: 2px;
  margin-left: -1px;
  margin-right: -1px;
  opacity: 0.5;
  background: red;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 1px; }

div#passiveChat {
  position: absolute;
  margin-left: 22px;
  margin-bottom: 40px;
  bottom: 0;
  left: 0;
  vertical-align: bottom;
  color: white;
  font: 8pt Tahoma;
  text-shadow: -1px 0 #000000, 0 1px #000000, 1px 0 #000000, 0 -1px #000000;
  pointer-events: none; }

form#clientForm {
  position: absolute;
  margin-left: 16px;
  bottom: 0;
  left: 0;
  opacity: 0.5;
  vertical-align: bottom;
  pointer-events: visiblePainted; }

/* GUI */
div#overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none; }
  div#overlay div.window {
    position: absolute;
    pointer-events: visiblePainted; }
  div#overlay div#playerWin {
    background-color: rgba(0, 0, 0, 0.75);
    color: black;
    border: 6px outset rgba(26, 26, 26, 0.75);
    border-radius: 10px; }
    div#overlay div#playerWin div.itemSlot {
      display: inline-block;
      position: absolute;
      width: 40px;
      height: 40px;
      /*margin: 5px;*/
      color: white;
      background-color: rgba(0, 0, 0, 0.75);
      border: 2px inset rgba(26, 26, 26, 0.75);
      pointer-events: visiblePainted; }
      div#overlay div#playerWin div.itemSlot img {
        width: 40px;
        height: 40px; }
